[submodule "bundle/elm.vim"]
	path = bundle/elm.vim
	url = git@github.com:lambdatoast/elm.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git@github.com:rking/ag.vim.git
